body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
    --font-outfit: Outfit;
  
    /* font sizes */
    --font-size-base: 16px;
    --font-size-mid: 17px;
    --font-size-5xl: 24px;
    --font-size-xl: 20px;
    --font-size-15xl: 34px;
    --font-size-smi: 13px;
    --font-size-mini: 15px;
  
    /* Colors */
    --color-white: #fff;
    --color-gray-100: #8c8c8c;
    --color-gray-200: #847e81;
    --color-gray-300: #1a130d;
    --color-gray-400: #020202;
    --color-gray-500: #010101;
    --color-floralwhite: #fffaf3;
    --color-lightgray-100: #d2d1cd;
    --color-gold: #ffcf38;
    --color-goldenrod: #ffcb3f;
    --color-saddlebrown-100: #7c5522;
    --color-saddlebrown-200: #7b541f;
    --color-saddlebrown-300: #6b5123;
    --color-black: #000;
    --color-silver: #b7b6b4;
    --color-moccasin: #fdecbf;
  
    /* Gaps */
    --gap-11xl: 30px;
    --gap-81xl: 100px;
    --gap-xl: 20px;
    --gap-21xl: 40px;
  
    /* Paddings */
    --padding-81xl: 100px;
    --padding-101xl: 120px;
    --padding-61xl: 80px;
  
    /* Border radiuses */
    --br-3xs: 10px;
    --br-xl: 20px;
  }
  